@import "css/fluid_grid.css";


/*
_____________________________________________________

INHOUD
_____________________________________________________

1.      RESET
2.	FONTS
3.      GLOBALS
4	PROFIEL
5.	OPLEIDINGEN / CURSUSSEN
6.	VAARDIGHEDEN & KENNIS
7.	RELEVANTE WERKERVARING
8.	OVERIGE WERKERVARING
A.	TEST
_____________________________________________________

1. RESET
_____________________________________________________*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1.25em}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*unreset */
strong 	{font-weight: bold; color: #fff; }
em 		{font-style: italic;}

/*_____________________________________________________

2. FONTS
_____________________________________________________*/


@font-face {
    font-family: 'Futura Std Book';
    src: url('fonts/FuturaStd-Book.otf') format("opentype");
}
@font-face {
    font-family: 'Futura Std Medium';
    src: url('fonts/FuturaStd-Medium.otf') format("opentype");
}@font-face {
    font-family: 'Futura Std Bold';
    src: url('fonts/FuturaStd-Bold.otf') format("opentype");
}

/*_____________________________________________________

3. GLOBALS
_____________________________________________________*/

body 				{ font-family: 'Futura Std Book',Verdana,Geneva,sans-serif; font-size:10px; background:#fff; color: #fff; letter-spacing: 0.04em;}
a 				{ color:#e98300; text-decoration:none; -webkit-transition: all 0.15s ease-in 0s; -moz-transition: all 0.15s ease-in 0s; -ms-transition: all 0.15s ease-in 0s; -o-transition: all 0.15s ease-in 0s; transition: all 0.15s ease-in 0s; }
a:hover				{ color: #fff; }
p 				{ font-family: 'Futura Std Book',Verdana,Geneva,sans-serif; line-height:1.25em; margin-bottom:1.350em; text-align: justify;}
p.last				{ margin: 0; }
table th,
table td 			{ line-height:1.750em; }
h1,h2,h3, p			{ font-weight:normal; }
h1 				{ font-family: 'Futura Std Bold',Verdana,Geneva,sans-serif;  margin-bottom:0.750em; font-size:1.467em;}
h1 a,h2 a,h3 a                  { text-decoration:none; }
h3 				{ font-family: 'Futura Std Medium',Verdana,Geneva,sans-serif;  line-height:1.750em; font-size:1.1em;}
h3.subtitel			{ line-height: 1.450em; color: #eb7e08;}
h2, h3				{ color: white; }
h1, h2, h3			{ text-transform: uppercase; }
p a				{ }
p a:hover			{ text-decoration:underline; color: #eb7e08; }
dt,dd				{ line-height:1.750em; }

body, html {
    margin: 0;
    padding: 0;

}

/*@media screen {
    body {
        padding: 3em;
    }
}

@media print {
    @page { 
        size: A4 landscape;
        margin: 2.2em;
        prince-image-resolution: 300dpi;

    }

    #main {
        font-size: 1em;
    }

    #main {
        page-break-before: always;
    }
}*/

@page { size:landscape; margin: 0; padding: 0; margin-top: 5mm; margin-left: 10mm;}

.col_1, .col_2, .col_3 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.col_1 {
    width: 254px;
}
.col_2 {
    width: 320px;
}
.col_3 {
    width: 452px;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

#main > div > .box{
    padding: 0 1.5em;
    padding-top: 2em;
}

#main > div > .box p {
    color:#fff;
}

.box h1 + .titel {
    padding-bottom: 2.3em;
}

.titel h3 {
    float: left;
}
.titel h3 + h3 {
    float: right;
}

.devider {
    margin-bottom: 0.6em;
}

/*_____________________________________________________

4.	PROFIEL
_____________________________________________________*/
#PROFIEL {
    background-color: #eb7e08 !important;
    height: 400px;
}

#PROFIEL h1 {
    margin: 0;
    color: white;
}

#PROFIEL h3 {
    float: none;
}

#foto {
    height: 270px;
    overflow: hidden;
}


.icons > li {
    background-repeat: no-repeat;
    background-size: 14px;
    padding-left: 20px;
    min-height: 14px;
}

.icons {
    /*margin-top: 2em;*/
}

.icons > .devider {
    margin-bottom: 0.8em;
}

.icons > li.placeholder {
    background-image: url("icons/placeholder_64.png");
}
.icons > li.linkedin {
    background-image: url("icons/linkedin_64.png");
}
.icons > li.graduate {
    background-image: url("icons/graduate_64.png");
}
.icons > li.cake {
    background-image: url("icons/cake_64.png");
}
.icons > li.funny {
    background-image: url("icons/funny_64.png");
}
.icons > li.tag {
    background-image: url("icons/tag_64.png");
}

/*_____________________________________________________

5.	OPLEIDINGEN / CURSUSSEN
_____________________________________________________*/

#OPLEIDINGEN_CURSUSSEN {
    color:#575b5d;
    height: 320px;
    background-color: #A5ACAF !important;
}

#OPLEIDINGEN_CURSUSSEN .content .devider {
    margin-bottom: 1.7em;
}


/*_____________________________________________________

6.	VAARDIGHEDEN & KENNIS
_____________________________________________________*/

#VAARDIGHEDEN_KENNIS {
    height: 320px;
    color: #eb7e08 !important;
    background-color: #575b5d !important;
    margin-top: 10px;

}

/*_____________________________________________________

7.	RELEVANTE WERKERVARING
_____________________________________________________*/

#RELEVANTE_WERKERVARING {
    height: 400px;
    color: #eb7e08 !important;
    background-color: #575b5d !important;
}

/*_____________________________________________________

8.	OVERIGE WERKERVARING
_____________________________________________________*/

#OVERIGE_WERKERVARING {
    height: 240px;
    color:#575b5d;
    background-color: #A5ACAF !important;
    margin-top: 10px;

}

.box .content {
    clear: both
}
